.header {
  display: flex;
  width: 1373px;
  padding: 25px 116px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Unclicked-unhovered, #cfc9d9);
  box-shadow: 5px 5px 4px 0px rgba(162, 147, 172, 0.3);
  backdrop-filter: blur(2px);
}
.header-elements {
  display: flex;
  gap: auto;
}
.header-left-elements {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-right-elements {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: flex-end;
}
