@font-face {
  font-family: Avant Guard Gothic Bold;
  src: url(/src/Fonts/AGG_Bold.woff2) format("woff2");
}
@font-face {
  font-family: Avant Guard Gothic Book;
  src: url(/src/Fonts/AGG_Book.woff2) format("woff2");
}
@font-face {
  font-family: Heiti Tc;
  src: url(/src/Fonts/heiti-tc-light.woff2) format("woff2");
}
@font-face {
  font-family: Heiti Tc Bold;
  src: url(/src/Fonts/heiti-tc-light.woff2) format("woff2");
}
@font-face {
  font-family: Inter;
  src: url(/src/Fonts/Inter.woff2) format("woff2");
}
@font-face {
  font-family: Inter Italic;
  src: url(/src/Fonts/Inter-Italic.woff2) format("woff2");
}
@font-face {
  font-family: Julius Sans One;
  src: url(/src/Fonts/JuliusSansOne.woff2) format("woff2");
}
