// .l-about-me {
//   margin-top: 85px;
//   margin-bottom: 100px;
//   width: 1208px;
//   height: 645px;
//   flex-shrink: 0;
//   opacity: 0.8;
//   background-color: #fff;
//   box-shadow: 0px 4px 17.5px 15px rgba(78, 74, 103, 0.26);
// }

.l-homepage-about-me {
  background: #ffffff;
  box-shadow: 0px 4px 17.5px 15px rgba(78, 74, 103, 0.26);
  margin: 85px 15% 0px 15%;
  padding-bottom: 200px;
}

.l-homepage-portfolio {
  background: #ffffff;
  box-shadow: 0px 4px 17.5px 15px rgba(78, 74, 103, 0.26);
  margin-top: 100;
  margin-bottom: 200px;
  padding-bottom: 60px;
}

.l-separation {
}
